@use "../variables" as v;

#ud-reservation-form-root {
    background: v.$color-bg;
    border: 1px solid v.$color-border;
    border-radius: v.$radius;
    padding: 1.5em;
    max-width: 480px;

    form {
        display: flex;
        flex-direction: column;
        gap: 1em;

        input,
        select,
        textarea {
            border: 1px solid black;
            border-radius: v.$radius;
            padding: 0.6em;
            font-size: 1rem;
        }
    }
}